#ignore lectures and dataset
dataset/
lectures/

#ignore task markdown files
general_information.md
/README.md
submission.md
summary.md

#ignore training files
training_history.png
training_output.log

#ignore pycache
__pycache__